body {
  margin: 0;
  font-family: Helvetica, Arial;
  background: #2563ff;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.container {
  background: rgba(0, 0, 0, 0.94);
  color: white;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.4);
  width: 70%;
  padding: 20px;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 0;
}

.user-card {
  background: rgba(63, 63, 63, 0.8);;
  padding-top: 9px;
  padding-bottom: 14px;
  border-radius: 15px;
  margin-bottom: 34px;
  text-align: center;
}

.user-card p {
  margin-top: 6px;
  margin-bottom: 30px;
  font-style: italic;
}

.user-card ul {
  display: contents;
}
.user-card li {
  list-style-type: none;
  margin: 12px 0;
}

.data {
  font-weight: bold;
}

footer {
  text-align: center;
  font-weight: 700;
  font-size: medium;
  padding-top: 28px;
}